---
// Placeholder homepage - will be built in Milestone 2+
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>StellarBoat</title>
  </head>
  <body>
    <h1>StellarBoat</h1>
    <p>Scaffolding complete. Building the foundation...</p>
  </body>
</html>
